.App {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 1rem;
  text-align: center;
  background: whitesmoke;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
}

.App .logo img {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.5rem;
  animation: logo-spin infinite 20s linear;
  pointer-events: none;
}

.App h2 {
  font-size: 2rem;
}

.App img {
  width: 600px;
  margin-bottom: 1rem;
}

.App h3 {
  font-size: 1.5rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}